@mixin button-focus($parent-border-width: #{0px}, $parent-border-radius: #{0rem}) {
  --size: calc(var(--sz-border-md));

  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;
  border-radius: calc(#{$parent-border-radius} - #{$parent-border-width} + var(--size));
  margin: calc(var(--size) * -1);
  box-shadow: inset 0 0 0 var(--size) color-mix(in srgb, var(--cl-brand-primary), white 50%);
  opacity: 0;
  transition: opacity var(--tm-250) var(--ef-out-quart);
};

// https://css-tricks.com/inclusively-hidden/
@mixin sr-only() {
  &:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }  
}